.App {
  text-align: center;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navegacion{
  background-color: #46494b;
  text-decoration: none;
  
  
  
}

.bar{
  display: flex;
  color: white;
  align-items: center;
  text-align: right;
  text-decoration: none;
  justify-content:space-around;
  list-style: none;
  padding: 1.5vw;
  
}

.home{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.lis{
  list-style: none;
  cursor: pointer;
  padding: 1.5vw;
  transition: all .3s ease 0s;
  
}
.lis:hover{
  color: #00b69c;
}

.carrito{
  display: flex;
  color: #ffa43a;
  list-style: none;
  align-items: center;
  

}
.shop{
  color: rgb(248, 243, 243);
  text-align: left;
  margin-left: 30px;
  
}
.smarth{
  color: #00b69c;
}
.categorias{
  position: relative;
  text-decoration: none;
  
  
}
.subcategoria{
  display:none;
  position: absolute;
  margin-top: 1.5vw;


}
.subcategoria > .lis{
  width: 120px;
  transform: translate(-20px);
  border-bottom: solid 1px #fff;
  text-align: center;
  background-color: #46494b;
  text-decoration: none;
  color: #00b69c;
  
}
.subcategoria > .lis:hover {
  background-color: #00b69c;
  color: white;
}
.categorias:hover > .subcategoria{
  display: block;
}